body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

select, button {
    padding: 10px;
    margin: 10px;
    font-size: 16px;
}

h1 {
    color: darkgreen;
}